<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1">


    <test name="Screenshots">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="miksrok.testing.tests.TestSuite"/>
        </classes>
    </test>

</suite>